<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Boehme_Cucina</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <mapping class="Model.Pratos"/>
        <mapping class="Model.Pedidos"/>
        <mapping class="Model.Bebidas"/>

    </session-factory>
</hibernate-configuration>